@font-face {
    font-family: sf pro;
    src: url(../SF-Pro.ttf);
}
*{
    font-family: sf pro;
    margin: 0%;
}
#nav_bar_main{
    width: 100%;
    height: 5.5%;
}
#nav_bar_snd_div,.nav_bar_frst_span{
    font-size: 14.5px;
}

.needsomehelp p{
    margin-left: 15%;
}
.needsomehelp span{
    color: #2c7bb4;
    cursor: pointer;
}
.needsomehelp span:hover{
    border-bottom: 1px solid #2c7bb4;
    margin-bottom: 0px;
}
#footer_parent_div{
    margin-top: 0px;
}
.main_cart_items_body{
    background-color: #000000;
}
#body_main_section{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
#main_section{
    width: 40%;
    margin-left: 50px;
    padding-top: 20px;
    color: #f5f5f7;
}
.cart_img_bottom{
    margin-left: 60px;
}
.product_title{
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 28px;
}
.in_stock{
    color: #ffb032;
    margin-bottom: 0px;
}
.cart_img_bottom>div{
    display: flex;
}
.delivery{
    margin-top: -15px;
}
.button_div_parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: -5px;
}
.button_div_parent button:first-child,.checkout{
    color: #f5f5f7;
    border-style:solid;
    border-width: 3.5px;
    border-top-color: #2374e5;
    border-left-color: #ffb032;
    border-right-color: #60056e;
    border-bottom-color: #ff3aaa;
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 30px;
    background-color: initial;
}
.button_div_parent button:first-child:hover,.checkout:hover{
    background-color: #f5f5f7;
    border: 4px solid black;
    color: initial;
    font-weight: bold;
}
.remove_item{
    color: #f5f5f7;
    background-color: #2997ff;
    cursor: pointer;
    border-radius: 20px;
    padding: 4px 8px;
}
.payment_parent{
    color: #f5f5f7;
    width: 40%;
    padding: 0px 20px;
}
.summery,.sub_total_total,.shipping,.order_total{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    padding-top: 25px;
}
.sub_total_total{
    padding-top: 0px; 
}
.button_checkout{
    text-align: center;
}
.checkout{
    border-width: 4.5px;
    font-size: 20px;
    padding: 8px 22px;
    border-radius: 30px;
}
.button_checkout p{
    font-size: 14px;
}
