@font-face {
    font-family: sf pro;
    src: url(../SF-Pro.ttf);
}
*{
    font-family: sf pro;
    margin: 0%;
}
li{
    list-style-type: none;
}
#nav_bar_main{
    width: 100%;
    height: 5.5%;
}
#nav_bar_snd_div,.nav_bar_frst_span{
    background-color: whitesmoke;
    color: rgb(96, 96, 96);
    font-size: 14.5px;
}

/* *MID NAVBAR */
#navbar_child_fig{
    width: 74%;
    margin-left:11.5%;
}
#nabbar_mid_ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
}
.navbar_span_name{
    font-size: 13px;
    line-height: 16.0005px;
    color: #1d1d1f;
}
.navbar_span_name{
    color: #0066cc;
}
.navbar_span_new{
    color: #bf4800;
    line-height: 12px;
    font-size: 11px;
    display: block;
}
.figure_screenshot{
    height: 55px;
}

/* 3rd nav */
#nav_bar_snd_div{
    font-size: 12px;
    padding: 5px;
}

/* product */
.product_section_prnt_div{
    width: 100%;
}
.black{
    background-color: #000000;
}
.product_section_child_div{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    margin-bottom: -17px;
}
.product_sec_new{
    color: #86868b;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 500px;
}
.product_sec_titile{
    color: #f5f5f7;
    margin-bottom: 5px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.product_sec_head_{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    will-change: transform;
    padding-top: 0.5px;
    overflow: hidden;
    background-color: #2ca2b4 0%;
    margin-top: 4px;
    font-size: 50px;
}
.product_sec_head_prple{
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
}
.product_sec_head_blue_pink{
    background-image: linear-gradient(91deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
}
.product_sec_head_blue{
    margin-top: -12px;
    background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%);
}
.button_P_tag{
    font-size: 18px;
    border: 1px solid gray;
    color: grey;
    width: 190px;
    padding: 8px;
    margin: auto;
    border-radius: 30px;
}
.button_P_tag_white_back{
    color: rgb(59, 59, 59);
    border: 1px solid rgb(59, 59, 59);
}
.product_figure{
    width: 782px;
    height: 542px;
    background-size: 782px 542px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -391px;
}
.figure_one{
    background-image: url(../images/iphone_14_pro_hero__e4ivycyx40k2_large.jpg);
}
.figure_two{
    background-image: url(../images/iphone_14_hero__ceub5xriecgi_large.jpg);
}
.figure_three{
    background-image: url(../images/iphone_se_hero__gd586pazxqqa_medium.jpg);
}
.product_detail{
    font-size: 20px;
    margin-top: 15px;
    color: #f5f5f7;
}
.white_back_product{
    color: #000000;
}
.buy_lrn_ul{
    width: 27%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    cursor: pointer;
}
.buy_li{
    background-color: #0066cc;
    border: 2px solid #0066cc;
    color: #f5f5f7;
    border-radius: 25px;
    padding: 4px 12px;
    font-size: 18px;
}
.learn_more_li{
    color: #0077ed;
    font-size: 22px;
    margin-bottom: 4px;
}
.buy_li:hover{
    background-color: #1580eb;
}
.learn_more_li:hover{
    border-bottom: 2.5px solid #2997ff;
}
.only_for_the_thrd_product{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.only_for_the_thrd_product ul{
    width: 70%;
}
.main_mid_section img{
    margin-left: 40px;
}
.thrd_main_section_child_prnt{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.thrd_main_section_parent{
    width: 70%;
    margin: auto;
    text-align: center;
}
.thrd_main_sec_sub_child img{
    height: 480px;
}
.thrd_main_section{
    margin-top: 5%;
}
.thrd_main_sec_buy_learn{
    width: 80%;
    margin: auto;
    cursor: pointer;
}
.buy_li{
    margin-top: 15px;
    font-size: 13px;
    padding: 4px 6px;
    border-radius: 10px;
    width: 60px;
    margin-left: 40px;
}
.learn_more_li{
    font-size: 16px;
    margin-top: 5px;
    margin-left: -40px;
}
.learn_more_li:hover{
    border-bottom:0px;
}
.details_section_parent img{
    width: 1000px;
}
.details_section_parent{
    width: 80%;
}
.details_section_frst_child{
    margin-left: 22%;
}
.details_section_scnd_child{
    margin-left: 21.4%;
}
.details_section_thrd_child{
    margin-left: 23%;
}
.details_anker{
    width: 43%;
    margin-left: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #0066cc;
}
.details_anker a:hover {
    margin-bottom: 0px;
    border-bottom: 2px solid #0377ea;
    color: #0370de;
}
.last_product_section{
    background-color: rgb(244, 243, 243);
}
.last_product_section{
    margin-top: 40px;
    text-align: center;
}
.h2_div h2{
    font-size: 58px;
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
}
.last_product_section_partner img{
    width: 1400px;
    margin-bottom: 30px;
}
.last_product_section_anker{
    font-size: 25px;
    color: #0066cc;
}
.last_product_section_anker:hover{
    border-bottom: 2px solid #0377ea;   
}
.more_details_option_child_img_span{
    font-size: 35px;
    border: 4px solid #7b7b82;
    border-radius: 50px;
    margin-top: 40px;
    padding: 4px;
    color: #7b7b82;
    margin-bottom: 19px;
}
.more_details_option{
    padding-top: 60px;
    padding-bottom:20px;
    width: 70%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.more_details_option{
    font-size: 18px;
}
.more_details_option_child_img img{
    width: 15%;
    margin-top: 28px;
    margin-bottom: 10px;
}
.last_img{
    margin-top: 13px;
}
.more_details_child_list_p2{
    margin-top: -15px;
}
.more_details_child_learn_more{
    color: #0066cc;
}
.more_details_child_learn_more:hover{
    border-bottom: 2px solid #0066cc;
}




/* footer */
#footer_parent_div{
    margin-top: 0px;
    font-size: 12px;
}
