@font-face {
    font-family: sf pro;
    src: url(../SF-Pro.ttf);
}
*{
    font-family: sf pro;
    margin: 0%;
}
#nav_bar_main{
    width: 100%;
    height: 5.5%;
}
#nav_bar_snd_div,.nav_bar_frst_span{
    background-color: whitesmoke;
    color: rgb(96, 96, 96);
    font-size: 14.5px;
}

